
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<h2 class="text-center text-success">@ViewBag.msg</h2>
<a asp-controller="Performances" asp-action="InstructorPerformanceIndex" class="btn btn-primary">Back To List</a>
