
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<h2 class="text-center text-success">@ViewBag.msg</h2>
<a asp-controller="Tasks" asp-action="InstructorTaskIndex" class="btn btn-primary">Back to List</a>

